doctype html
html(lang='pt-br')
  include includes/head.pug
  body
    div(class='container-fluid')
      div(class='row')
        div(class='header')
          h1= title
        div(class='col link')
          block sidebar
          - const links = [{"link": "/catalogo", "title": "Mangalandia"},{"link": "/catalogo/mangas", "title": "Todos mangás"},{"link": "/catalogo/autores", "title": "Todos autores"},{"link": "/catalogo/categorias", "title": "Todas categorias"},{"link": "/catalogo/capitulos", "title": "Todos Capítulos"},{"link": "/catalogo/autor/adicionar", "title": "Adicionar novo autor"},{"link": "/catalogo/categoria/adicionar", "title": "Adicionar nova categoria"},{"link": "/catalogo/manga/adicionar", "title": "Adicionar novo manga"},{"link": "/catalogo/capitulo/adicionar", "title": "Adicionar novo capítulo"} ]
            ul(class='sidebar-nav')
              each val, index in links
                li(class={"ativo": title == val.title})
                  a(href=val.link) #{val.title}

        block content