doctype html
html(lang='pt-br')
  include includes/head.pug
  body
    .container-sm.d-flex.flex-column.w-100.h-100
      block top
        header.top
          .inner.py-3
            h2.top-brand.mx-auto
              a(href='/catalogo')
                img(class='img-fluid' src='/images/logo-icon.png' alt='Mangalandia')
            nav.nav.nav-top.justify-content-center
              a.nav-link(href='/catalogo/autores') Mangakás
              a.nav-link.navbar-brand.m-0(href='/catalogo/mangas') Mangás
              a.nav-link(href='/catalogo/categorias') Categorias
      .row
        .sidebar.col-sm-3.col-lg-2.mx-2
          block sidebar
            ul.sidebar-nav.list-group
              li.list-group-item
                a(href="/catalogo/autor/adicionar") Adicionar Autor
              li.list-group-item
                a(href="/catalogo/manga/adicionar") Adicionar Mangá
              li.list-group-item
                a(href="/catalogo/categoria/adicionar") Adicionar Categoria
              li.list-group-item
                a(href="/catalogo/capitulo/adicionar") Adicionar Capítulo
        .main.col.overflow-hidden
          block content
      footer.bot.mt-auto
        .inner.text-center
          p Follow #{'->'} #[a(href='https://github.com/Kisedev') Kisedev]