doctype html
html(lang='pt-br')
  include includes/head.pug
  body
    .container-sm.d-flex.flex-column.w-100.h-100
      block top
        header.top
          .inner.py-3
            h2.top-brand.mx-auto
              a(href='/catalogo')
                img(class='img-fluid' src='/images/logo-icon.png' alt='Mangalandia')
            nav.nav.nav-top.justify-content-center
              a(class='nav-link' href='/catalogo/autores') Mangakás
              a(class='nav-link' href='/catalogo/mangas') Mangás
              a(class='nav-link' href='/catalogo/categorias') Categorias
      .row
        .sidebar.col-sm-2
          block sidebar
            ul.navbar.sidebar-nav
              li
                a(href="/catalogo/autor/adicionar") Adicionar Autor
              hr
              li
                a(href="/catalogo/manga/adicionar") Adicionar Mangá
              hr
              li
                a(href="/catalogo/categoria/adicionar") Adicionar Categoria
              hr
              li
                a(href="/catalogo/capitulo/adicionar") Adicionar Capítulo
        .main.col-sm-9.ml-auto.overflow-hidden
          block content
      footer.bot.mt-auto
        .inner.text-center
          p Follow #{'->'} #[a(href='https://github.com/Kisedev') Kisedev]