extends layout

block content
    h1= title

    ul
        //- ordena lista por titulo
        - lista.sort((a,b) => {let txtA = a.titulo.toUpperCase(); let txtB = b.titulo.toUpperCase(); return (txtA < txtB) ? -1 : (txtA > txtB) ? 1 : 0;});
        each manga in lista
            li
                a(href=manga.url) #{manga.titulo}
                |    (#{manga.autor.nome})

        else
            li Não há mangás -;