extends ../layout

block content
    .main
        h2= title

        form.card.p-3(method='POST' action='')
            .form-group
                label(for='manga') Mangá: #{manga.titulo}
                input#manga.form-control(type='hidden', name='manga', required, value=manga._id)
                
            .form-group
                label(for='isbn') ISBN:
                input#isbn.form-control(type='text' placeholder='ISBN13' name='isbn' value=(undefined===capitulo ? '' : capitulo.isbn) required)
            
            .form-group
                label(for='num') Número:
                input#num.form-control(type='number' name='num' value=(undefined===capitulo ? '' : capitulo.num) min='1')

            .form-group
                label(for='lancamento') Lançamento:
                input#lancamento.form-control(type='date' name='lancamento' value=(undefined===capitulo ? '' : capitulo.lancamento))
            
            .form-group
                label(for='nome') Nome:
                input#nome.form-control(type='text' name='nome' placeholder='Título do capítulo' value=(undefined===capitulo ? '' : capitulo.nome))

            button.btn.btn-primary(type='submit') Enviar
        
        if errors
            ul
                for error in errors
                    li!= error.msg